<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ve·de·a</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script src="js/rolls.controller.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="vedea" id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="works.html">Works</a>
                        </li>
                        <li>
                            <a href="brands.html">Brands</a>
                        </li>
                        <li>
                            <a class="active" href="rolls.html">Rolls</a>
                        </li>
                        <li>
                            <a href="team.html">The Team</a>
                        </li>
                        <li>
                            <a href="rides.html">Rides</a>
                        </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- About Section -->
    <section ng-controller="RollsController" ng-init="initialize()" id="rolls" class="container rolls-section text-center" ng-style="{'background' : 'url('+selection.img+')'}">
            <div class="row" id="route-info">
                <div class="col-lg-1 col-lg-offset-1 col-xs-2">
                    <img ng-show="prevExists" ng-click="prevSlide()" width="100%" src="img/back_red.png">
                </div>
                <div class="col-lg-8 col-xs-12">
                    <h1>{{selection.name}}</h1>
                    <h3>{{selection.route}}</h3>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <img ng-show="nextExists" ng-click="nextSlide()" width="100%" src="img/next.png">
                </div>
            </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Vedea 2014</p>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>


</body>

</html>
